-if @program.errors.any?
  #error_explanation
  %h2
    =pluralize(@program.errors.count, "error")
    prohibited this task from being saved:
    %ul
      -@article.errors.full_messages.each do |msg|
        %li=msg

= label :program, :name, 'Name'
= text_field :program, 'name'

= label :program, :start_date, 'Start Date'
= date_select :program, :start_date

= label :program, :end_date, 'End Date'
= date_select :program, :end_date

= label :program, :form_url, 'Form URL'
= text_field :program, :form_url
  
= submit_tag 'Submit'
